<div>
    <table class="table table-dark">
      <thead>
        <tr>
          <th scope="col">Name</th>
          <th scope="col">Description</th>
          <th scope="col">Operations</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let user of users$ | async">
          <td>{{ user.name }}</td>
          <td>{{ user.description }}</td>
          <td>
            <button (click)="showUpdateForm(user)" class="btn btn-primary" style="margin: 5px">Update</button>
            <button (click)="deleteCourse(user.id)" class="btn btn-danger" style="margin: 5px">Delete</button>
          </td>
        </tr>
      </tbody>
    </table>
  
    <div *ngIf="isUpdateActivated" style="margin-top: 50px; margin-left: 50px;">
      <h4>Update User</h4>
      <form (ngSubmit)="updateUser(updateForm)" #updateForm="ngForm">
        <div class="form-group">
          <label for="name">User Name</label>
          <input
            type="text"
            id="name"
            name="name"
            class="form-control"
            required
            [(ngModel)]="courseToBeUpdated.name"
            style="width: 400px"/>
        </div>
        <div class="form-group">
          <label for="side">Description</label>
          <input
            type="text"
            id="description"
            name="description"
            class="form-control"
            required
            [(ngModel)]="courseToBeUpdated.description"
            style="width: 400px"/>
        </div>
        <button [disabled]="updateForm.invalid" class="btn btn-primary" type="submit">Update</button>
      </form>
    </div>
  </div>
